.card {
    height: 400px;
    &:hover {
        cursor: pointer;
        background-color: rgba(128, 128, 128, 0.055);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .container-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .info-product {
            .price-container {
                display: flex;
                gap: 10px;
                flex-direction: row;
            }
        }

        .btn-add-to-card {
            border: 1px solid rgba(5, 4, 4, 0.712);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(128, 128, 128, 0.247);
            width: 32px;
            height: 32px;
            &:hover {
                background-color: rgba(128, 128, 128, 0.089);
                cursor: pointer;
            }
        }
    }
}

.card-container {
    position: relative;
    .discount {
        font-size: 20px;
        z-index: 20;
        position: absolute;
        top: 6px;
        right: 6px;
        color: rgb(255, 255, 255);
        text-shadow: rgb(243, 101, 101) 1px 0 10px;
    }
}

img {
    object-fit: cover;
    width: 75px;
    height: 300px;
}
