.manage-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    .header {
    }
    .content {
        margin-top: 20px;
        .btn-add-user {
            background-color: rgba(128, 128, 128, 0.452);
            width: fit-content;
            padding: 10px;
        }
        .table {
            margin-top: 20px;
            .action-btn {
                .edit-btn {
                    font-size: 20px;
                    &:hover {
                        cursor: pointer;
                        color: gray;
                    }
                }
                .delete-btn {
                    font-size: 20px;
                    margin-left: 20px;
                    &:hover {
                        cursor: pointer;
                        color: gray;
                    }
                }
            }
        }
    }
}
