.header-container {
    .input-search {
        display: flex;
        align-items: center;
        margin-right: 30px;
        .btn-search {
            font-size: 24px;
        }
    }
    .btn-right {
        font-size: 24px;
    }
    .cart {
        position: relative;
        .cart-count {
            position: absolute;
            top: 0;
            right: 12px;
            font-size: 16px;
        }
    }
}
