.header-container {
    .input-search {
        display: flex;
        align-items: center;
        margin-right: 30px;
        .btn-search {
            font-size: 24px;
        }
    }
    .btn-right {
        font-size: 24px;
    }
    .cart {
        position: relative;
        .cart-count {
            position: absolute;
            top: 0;
            right: 12px;
            font-size: 16px;
        }
    }

    .avatar {
        width: 36px;
        height: 36px;
        margin-left: 20px;
        object-fit: cover;

        &:hover {
            cursor: pointer;
        }
    }
}

.popover-container {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    .popover-arrow {
        display: none !important;
    }

    .popover-content {
        padding: 0px;
        .popover-action {
            display: flex;
            align-items: center;
            padding: 16px;
            font-size: 16px;

            &:hover {
                background-color: rgba(128, 128, 128, 0.397);
                cursor: pointer;
            }
        }
    }
}
