.info-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .avatar {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.logo {
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;
        color: rgba(128, 128, 128, 0.678);
    }
}
